@keyframes fadeIn {
  0% {
    transform-origin: center center;
    transform: translateY(20px);
    opacity: .3
  }

  100% {
    transform: none;
    opacity: 1
  }
}

.projects {
  display: flex;
  flex-flow: row wrap;
}

.project {
  animation: fadeIn .2s;
  width: 100%;
  
  @include tablet {
    max-width: 400px;
    margin: 24px 72px 24px 0;
  }

  .project-title {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 28px;

    .github-logo {
      content: "";
      display: block;
      background-image: url(../../assets/images/github-logo.svg);
      background-size: cover;
      margin-left: 8px;
      transform: translateY(1.5px);
      width: 20px;
      height: 20px;
      opacity: .67;
      transition: opacity .2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .project-thumbnail {
    margin-bottom: 16px;
    width: 100%;

    @include tablet {
      opacity: .87;
      transition: opacity .2s, filter .2s;
    }
  }

  .project-description {
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 1.15;
    font-size: 15px;
    color: $grey;
  }

  .project-clickable-area {
    display: block;

    &:hover, &:focus {
      h2 {
        text-decoration: underline;
      }
      .project-thumbnail {
        opacity: 1;
      }
    }
  }
}

@mixin project-tag($c) {
  color: $c;
}
  
.project-tag {
  font-size: 14px;
  user-select: none;
  display: inline-block;
  margin: 0 8px 8px 0;
  outline: none;
  border-radius: 50px;
  white-space: nowrap;
  font-weight: bold;
  padding-right: 8px;

  &::before {
    content: '#'
  }

  &.javascript {
    @include project-tag($yellow)
  }
  
  &.game {
    @include project-tag($red)
  }
  
  &.react {
    @include project-tag($blue)
  }
  
  &.vue {
    @include project-tag($green)
  }
  
  &.php {
    @include project-tag($purple)
  }

  &.perso {
    @include project-tag($black)
  }

  &.school {
    @include project-tag($pink)
  }
  
}

