@mixin tag($c) {
  color: $c;
  border: 1.5px solid $c;

  &:hover {
    background-color: transparentize($color: $c, $amount: 0.88);
  }

  &.checked {
    background-color: $c;
    box-shadow: inset -50px 0 0 0 $c,
    inset 50px 0 0 0 $c;  
  }
}

.tag {
  position: relative;
  user-select: none;
  display: inline-block;
  padding: 8px 32px;
  border: 1.5px solid $black;
  color: $black;
  text-align: center;
  margin: 8px 0;
  outline: none;  
	cursor: pointer;
  transition: .2s;
  width: 100%;
  white-space: nowrap;

  @include tag($black);

  &:nth-of-type(1) {
    margin-top: 32px;
  }

  @include tablet {
    margin: 24px 24px 0 0;
    width: auto;
  }

  .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
    white-space: normal;
    transform: translateX(-50%);
    width: 160px;
    font-size: 13px;
    z-index: 1;
    position: absolute;
    text-align: center;
    background: $black;
    color: $white;
    top: 150%;
    left: 50%;
    line-height: 1.25;
    border-radius: 5px;
    padding: 8px;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $black transparent;
    }
  }

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &:hover, &:focus {
    outline: none;
  }

  &.checked {
    color: $white;
  }
}

// .tag-javascript {
//   @include tag($black)
// }

// .tag-game {
//   @include tag($black)
// }

// .tag-react {
//   @include tag($black)
// }

// .tag-vue {
//   @include tag($black)
// }

// .tag-php {
//   @include tag($black)
// }

// .tag-perso {
//   @include tag($black)
// }

// .tag-school {
//   @include tag($black)
// }