
$dark-blue: #192a56;
$white: #f5f6fa;
$grey: #95a5a6;
$black: #2f3640;

$yellow: #f39c12;
$green: #27ae60;
$purple: #8e44ad;
$red: #c0392b;
$cyan : #16a085;
$colors: $yellow, $green, $purple, $red, $cyan;


$big-phone: 380px;
$tablet: 768px;
$medium: 1024px;
$large: 1440px;
