
$dark-blue: #192a56;
$white: #f5f6fa;
$grey: #636e72;
$black: #2f3640;

$yellow: #f7df1e;
$green: #42b883;
$purple: #4f5b93;
$red: #ff7675;
$blue:#00d8ff;
$pink: #f368e0;
$school : #aaa69d;
$integration: #218c74;
$le-monde: #026b9c;

$big-phone: 380px;
$tablet: 768px;
$medium: 1024px;
$large: 1440px;
