@keyframes fadeIn {
  0% {
    transform-origin: center center;
    transform: translateY(20px);
    opacity: 0.3;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 32px;
}

.no-project-found {
  animation: fadeIn 0.2s;
  margin: 0 0 32px 0;
  font-size: 32px;

  @include tablet {
    margin: 16px 0 48px 0;
  }
}

.project {
  animation: fadeIn 0.2s;
  width: 100%;
  margin-bottom: 32px;

  @include tablet {
    width: calc(50% - 36px);
    margin-right: 36px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include large {
    width: calc(33% - 44px);
    margin-right: 72px !important;

    &:nth-child(3n) {
      margin-right: 0 !important;
    }
  }

  .project-title {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 26px;

    .github-logo {
      display: inline-block;
      width: 20px;
      height: 20px;
      opacity: 0.67;
      transition: opacity 0.2s;
      transform: translateY(2.5px);

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .project-thumbnail {
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 16px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @include tablet {
      transform: translateY(0px);
      transition: all 0.3s ease;
    }
  }

  .project-description {
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 1.28;
    font-size: 14px;
    color: $grey;
  }

  .project-clickable-area {
    display: block;

    &:hover,
    &:focus {
      h2 span {
        text-decoration: underline;
      }
      .project-thumbnail {
        box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.2);
        transform: translateY(-8px);
      }
    }
  }
}

@mixin project-tag($c) {
  color: $c;
}

.project-tag {
  font-size: 14px;
  user-select: none;
  display: inline-block;
  margin: 0 0px 8px 0;
  outline: none;
  border-radius: 50px;
  white-space: nowrap;
  font-weight: bold;

  &:not(:last-child)::after {
    content: "\00a0\00a0|\00a0\00a0";
    color: $black;
  }

  &.javascript {
    @include project-tag($javascript);
  }

  &.game {
    @include project-tag($game);
  }

  &.react {
    @include project-tag($react);
  }

  &.vue {
    @include project-tag($vue);
  }

  &.php {
    @include project-tag($php);
  }

  &.perso {
    @include project-tag($perso);
  }

  &.school {
    @include project-tag($school);
  }

  &.integration {
    @include project-tag($integration);
  }

  &.lemonde {
    @include project-tag($le-monde);
  }
}
