@import-normalize;

/* Vendors */
@import 'vendors/reset';

/* Config */
@import 'config/fonts';
@import 'config/variables';

@import 'config/mixins';

/* Components */
@import 'components/Header';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roobert';
  overflow: hidden;
}
