/* Vendors */
@import "vendors/reset";

@import "config/mixins";
/* Config */
@import "config/fonts";
@import "config/variables";

/* Components */
@import "comps/tags";
@import "comps/header";
@import "comps/projects";

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  max-width: $large;
  margin: 0 auto;
}

body {
  background-color: $white;
  color: $black;
  margin: 8px;
  overflow-x: hidden;
  font-family: "Roobert";
  overflow-y: scroll;
}

img {
  display: block;
}

a[href=""] {
  background: red;
}

footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  a {
    opacity: 0.8;
    transition: opacity 0.2s;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

strong {
  font-weight: bold;
}

@include phone {
  body {
    margin: 16px;
  }
}

@include tablet {
  body {
    margin: 24px 32px;
  }
}
