/* Vendors */
@import 'vendors/reset';

/* Config */
@import 'config/fonts';
@import 'config/variables';

@import 'config/mixins';

/* Components */
@import 'components/header';
@import 'components/tags';
@import 'components/projects';


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  margin: 8px;
  font-family: 'Roobert';
}

img {
  display: block;
}

@include phone {
  body {
    margin: 16px;
  }
}

@include tablet {
  body {
    margin: 24px 32px;
  }
}